@font-face {
    font-family: rubik;
    src: url('static/fonts/Rubik-VariableFont_wght.ttf');
}

.App {
  text-align: center;
  width: 360px;
  height: 540px;
  font-family: rubik !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-main {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom */

button {
    margin: 0.1em !important;
}

.container {
    width: 96%;
    padding: 0.2em;
}

.redbox {
    border: 1px solid red;
}

.account-setup-input {
    margin-bottom: 0.2em;
}

.mnemonic-item {
    padding: 0.5em !important;
    margin: 0.1em !important;
}

.mnemonic-item > div {
    border: 1px solid #566473;
    border-radius: 5px !important;
    padding: 0.5em;
    font-size: 0.8em;
}

.copy-to-clipboard-button {
    opacity: 0.7;
    cursor: pointer;
    font-size: 0.8em;
}

.copy-to-clipboard-button:hover {
    opacity: 0.5;
}

.mnemonic-item-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mnemonic-item-input-container > input {
    background-color: #282c34;
    border: none;
    color: white;
}

.mnemonic-item-input-container > input:focus {
    background-color: #282c34 !important;
    border: none !important;
    color: white;
}

#mainWalletAddress {
    width: 80%;
    text-overflow: ellipsis !important;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    overflow: hidden;
}

#mainWalletAddress:hover {
    opacity: 0.7;
}

#navbar {
    flex-grow: 0;
    height: 60px;
    width: 100%;
    background-color: #1e2026;
    display: flex;
    align-items: center;
}

#topbar {
    flex-grow: 0;
    height: 46px;
    width: 100%;
    background-color: #1e2026;
    text-align: center;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#onboardingContent {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: lightslategray;
    font-size: 0.8em;
}

.token-balance-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px;
    margin-top: 1em !important;
    padding: 1em;
    text-align: left;
    background-color: #222733;
    max-height: 86px;
    cursor: pointer;
}

.transaction-card {
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    text-align: left;
    background-color: #222733;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
    cursor: pointer;
}

.transaction-card:hover {
    opacity: 0.8;
}

.token-amount, .token-symbol {
    font-size: 0.9em;
    color: gray;
    display: inline-block;
    margin-right: 0.4em;
}

.button-row {
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button-row > button {
    width: 100%;
}

.button-row-child {
    width: 45%;
    text-align: center;
}

.button-row-child > button {
    width: 100%;
}

.nav-button-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.onboarding-button {
    width: 80%;
}

.banner-child {
    width: 90%;
    text-align: left;
}

#qrCodeContainer {
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#depositMessage {
    font-size: 0.7em;
    color: gray;
}

.content-child {
    margin-top: 0.2em;
    width: 90% !important;
}

.navbar-element {
    cursor: pointer;
}

.navbar-element:hover {
    opacity: 0.8;
}

#depositWalletAddressContainer {
    width: 100%;
    padding: 0.4em;
    border: 1px solid slategray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

#depositWalletAddressValue {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}

#depositWalletAddressContainer > button {
    width: 30%;
    text-align: center;
}

.page-heading-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.page-heading {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.form-input-field {
    background-color: #1e2026 !important;
    border: 1px solid slategray !important;
    color: slategray !important;
}

.full-width-content > * {
    width: 100% !important;
}

.new-wallet-mnemonic-table {
    margin-left: auto;
    margin-right: auto;
}

.transaction-details {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e2026;
    border-radius: 8px;
    padding: 0.5em;
}

.transaction-details-to-address {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transaction-network-fee-container {
    padding: 1em;
    border: 1px solid slategray;
    color: slategray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.transaction-details-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color:#1e2026;
    background-color: white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 1em;
}

.transaction-card-signature {
    text-overflow: ellipsis;
    overflow: hidden;
}

.transaction-card-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
}

.transaction-failure {
    color: lightcoral;
}

.transaction-success {
    color: lightgreen;
}

.manage-token-list {
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    display: block;
    padding: 0.5em;
    margin: 0.5em;
}

.token-list-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.add-token-input {
    margin-top: 1em;
}